h1 {
    width: 25%;
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

form{
    width: 30%;
    border: 1px solid #ccc;
    margin: 20px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 15px;
    display:block ;
    width: 100%;
}

/* textarea{
    max-height: 300px;
}*/

input, textarea{
    margin-bottom: 20px;
     width: 100%;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border: 1px solid 3;
}

input:focus, textarea{
    border: 1px solid;
}

input[type="submit"]{
    margin-bottom: 0;
    background: #1668C4;
    color: #fff;
    border: none;
}

input[type="submit"]:hover{
    background: #4a88f4;
    cursor: pointer;
}

button{
    color: #fff;
    border: none;
    background: #4a88f4;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
     width: 100%;
     padding: 10px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     border: 1px solid 3;
}

  .form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
  
  .form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }











